# Node
node_modules/
dist/
build/

# Env files
.env
.env.*
URABNNEST_BACKEND/.env
ml_module/.env

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
venv/
.env

# ML models (IMPORTANT)
*.h5
*.pt
*.pkl
*.joblib